* {
    box-sizing: border-box;
    font-size: 1.1250em;
}

body {
    font-size: 10px;
    font-family: Tahoma, Arial;
}

nav {
    width: 100%;
    background-color: #4d5791;
    
    padding: 0 40px;
}

nav ul,
nav ul li {
    margin: 0;
    padding: 0 ;
    list-style: none;
    display: flex;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 44px;
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    margin: 0;
}

nav ul li a:hover  {
    background-color: white;
    color: #4d5791;
}

div.hero {
    height: 350px;
    background-color: #b4c6f0;
    background-image: url('bg.png');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 40px;
}

div.hero h1,
div.hero h2 {
    text-align: center;
    margin: 0;
}

div.hero h1 {
    color: #4044C6;
    font-size: 4.2em;
    margin-bottom: 20px;
}

div.hero h2 {
    color: #012238;
}

section {
    display: flex;
    flex-direction: row;
}

.banner {
    background-color: aliceblue;
    article {
    /* box-shadow: 12px 12px 12px 12px rgba(42, 42, 61, 0.2); */
    padding: 10px;
    text-wrap: wrap;
    background-color: #fff;
  }
}



main {
    padding: 40px;
    width: 100%;
}

footer {
    height: 50px;
    background-color: #b4c6f0;
    padding: 40px;
}

.skip {
    display: block;
    line-height: 44px;
    padding: 0 20px;
    margin-top: -44px;
}

.skip:focus {
    margin-top: 0;
}

.center {
    text-align: center;
}

main article {
    display: inline-block;
    width: 100%;
    max-width: 340px;
   /*  text-align: justify; */
    margin: 20px;
}

.legend {
    font-size: 12px;
    font-family: sans-serif;
    rect {
      stroke-width: 2;
    }
    text {
      fill: rgb(0, 17, 17);
    }
  }

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}


toggle {
    display: inline-block;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            padding: 10px!important;

  }
  
  .toggle-switch {
    background: #ccc;
    width: 80px;
    height: 30px;
    overflow: hidden;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .toggle-switch:after {
    content: " ";
    display: block;
    width: 40px;
    height: 30px;
    background-color: #3498DB;
    border: 3px solid #fff;
    border-top: 0;
    border-bottom: 0;
    margin-left: -3px;
    transition: all 0.1s ease-in-out;
  }
  
  .active .toggle-switch:after {
    margin-left: 40px;
  }
  
  .toggle-label {
    display: inline-block;
    line-height: 30px;
    color: grey; /* default color for toggle-label */
  }
  
  .active .toggle-label {
    color: #3498DB;
  }

  .active-state{
    display: inline-block;
  }

    .inactive-state{
        display: none;
    }


    .chart-bg{
        background-color: aliceblue!important;
        padding: 25px 0;
    }
  

@media screen and (max-width: 768px) {
    nav ul,
    nav ul li {
        flex-direction: column;
}
    main article {
        margin: 10px;
    }
    .page-area {
        flex-direction: column
    }
}

@media screen and (min-width: 1400px) {
    main article {
        margin: 10px;
    }
  }
  @media screen and (min-width: 1600px) {
    main article {
        margin: 10px;
    }
  }
  @media screen and (min-width: 1900px) {
    main article {
        margin: 10px;
    }
  }